@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: calc(1000%/12);
}

@keyframes pulse {
  50% {
    background-color: rgb(222, 222, 222);
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}